/* hl means highlighted 
   Couleur du body : pour les forme lambda et les parenthèses 
   */
body {color: Gray;
	  background-color: white;
      font-weight: bold}	  
pre {margin: 0}
h2 {font-family: Helvetica, Arial, sans-serif;
    margin: 1em 0 .3em 0;
	font-size: 110%;
	font-weight:300;
	font-style:italic;
	color: gray;}
h3 {font-family: Helvetica, Arial, sans-serif;
    margin: 1em 0 .2em 0;
	font-size: 100%; 
	font-weight:300;
	font-style:italic;
	color: gray;}
	
a.string, span.string {color: black; font-weight: normal}
a.comment, span.comment {color: black; font-weight: normal}
a.anon, span.anon {color: black; font-weight: normal}
a.nonanon, span.nonanon {color: black; font-weight: normal} 
a.word, span.word {color: black; font-weight: normal}

a.classhl, span.classhl {background-color: yellow; }
a.nonanonhl, span.nonanonhl {background-color: yellow}
a.unknownhl, span.unknownhl {background-color: yellow}
a.slothl, span.slothl {background-color: yellow;}
a.stringhl, span.stringhl {background-color: yellow }
a.wordhl, span.wordhl {background-color: yellow}
a.commenthl, span.commenthl {background-color: yellow}
a.unknownhl, span.unknownhl {background-color: yellow}

a {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {color:Deepskyblue;font-weight:300}
img {border-style: none}

a.class, span.class {color: SeaGreen; font-weight: bold}
a.slot, span.slot {color: blue; font-weight: normal}
a.unknown, span.unknown {color: Coral; font-weight: bold}
a.nonanon, span.nonanon {color: blue; font-weight: normal} 
span.error {background-color: Orange; color: black}