/* hl means highlighted */
body {color: Gray;
	  background-color: white;
      font-weight: bold}	  
pre {margin: 0}
h2 {font-family: Helvetica, Arial, sans-serif;
    margin: 1em 0 .3em 0;
	font-size: 110%;
	font-weight:300;
	font-style:italic;
	color: gray;}
h3 {font-family: Helvetica, Arial, sans-serif;
    margin: 1em 0 .2em 0;
	font-size: 100%; 
	font-weight:300;
	font-style:italic;
	color: gray;}
	
img {border-style: none}
	
a.string, span.string {color: rgb(188,143,143)} /* rosybrown */
a.stringhl, span.stringhl {background-color: black; color: rgb(188,143,143)}

a.comment, span.comment {color: rgb(178,34,34)} /* firebrick */
a.commenthl, span.commenthl {background-color: black; color: rgb(178,34,34)}

a.unknown, span.unknown {color: black}
a.unknownhl, span.unknownhl {background-color: black; color: white}

a.class, span.class {color: rgb(144,238,144)} /* lightgreen */
a.classhl, span.classhl {background-color: black; color: rgb(144,238,144)}

a.slot, span.slot {color: rgb(255,165,0)} /* orange */
a.slothl, span.slothl {background-color: black; color: rgb(255,165,0)}

a.anon, span.anon {color: rgb(127,127,127)} /* gray50 */
a.anonhl, span.anonhl {background-color: black; color: rgb(127,127,127)}

a.nonanon, span.nonanon {color: rgb(0,100,0)} /* darkgreen */
a.nonanonhl, span.nonanonhl {background-color: black; color: rgb(0,100,0)}

a.word, span.word {color: rgb(160,32,240)} /* purple */
a.wordhl, span.wordhl {background-color: black; color: rgb(160,32,240)}

span.error {background-color: red; color: black}
